.main {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.agg {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 33.333% 33.333% 33.333%;
  grid-gap: 25px;
}

.image img {
  float: left;
  width: 400px;
  height: 600px;
  padding: 25px;
}

.main .agg .image a:hover {
  text-decoration: none;
}

.action {
  color: white;
  text-align: center;
  margin-left: 150px;
  padding: space-between;
  // text-decoration: black;
}

.comedy {
  color: white;
  text-align: center;
  margin-left: 125px;
  padding: space-between;
}

.adventure {
  color: white;
  text-align: center;
  margin-left: 110px;
  padding: space-between;
}